@media (min-width: 576px) {
    .card-group {
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        margin-bottom: 20px;
    }
}

.presentationItem {
    margin-top: 10px;
    margin-bottom: 10px;
}

#f4 {
    margin-top: 20px;
}

#f1 {
    margin-top: 20px;
}